html,
body,
#root {
    height: 100%;
}

#calculatorSubContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    #calculatorContainer {
        width: calc(100vw - 40px);
        max-width: 400px;

        h1 {
            font-size: 32px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #theme {
                height: fit-content;
                display: flex;

                #rangeInput {
                    position: relative;
                    display: grid;
                    grid-template-columns: 1.3fr 1fr;

                    #themeTitle {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h3  {
                            font-size: 14px;
                            height: fit-content;
                        }
                    }

                    #inputIndicators {
                        display: flex;
                        justify-content: space-around;
                        font-size: 14px;
                        margin-bottom: 5px;
                        height: 13px;

                        p {
                            width: fit-content;
                        }
                    }

                    input {
                        appearance : none;
                        width: 50px;
                        padding: 3px;
                        border-radius: 16px;
                        border: 0;
                        outline: 0;
                    }

                    input::-webkit-slider-thumb {
                        -webkit-appearance : none;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 0;
                    }
                }
            }
        }

        #calculatorInput {
            height: 100px;
            margin-top: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: right;
            align-items: center;
            text-align: right;
            border-radius: 7px;
            position: relative;
            overflow-x: hidden;

            #input {
                margin-top: 5px;
                z-index: 1;

                h2 {
                    white-space: nowrap;
                    font-size: 50px;
                }
            }
        }

        #calculatorNumbers {
            margin-top: 20px;
            padding: 10px;
            border-radius: 6px;
            user-select: none;

            #topNumbers {
                display: flex;
                flex-wrap: wrap;

                div {
                    width: calc(25% - 16px);
                    height: 40px;
                    margin: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    border-radius: 6px;
                    cursor: pointer;

                    p {
                        margin-top: 3px;
                    }
                }
            }

            #bottomNumbers {
                display: flex;

                div {
                    width: calc(50% - 16px);
                    margin: 8px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    border-radius: 6px;
                    cursor: pointer;

                    p {
                        margin-top: 3px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 350px) {
        #calculatorInput {
            height: 80px !important;

            h2 {
                font-size: 40px !important;
            }
        }

        .delOrReset {
            font-size: 20px !important;
        }
    
        #topNumbers {
            div {
                margin: 5px !important;
                width: calc(25% - 10px) !important;
                height: 50px !important;
            }
        }
    }
}